.logo{
    width: 120px;
    height: 48px;
    position: absolute;
    top: 40px;
    left: 40px;
}

.textoOrigen{
    width: 577px;
    height: 48px;
    position: absolute;
    top: 168px;
    left: 240px;
}